.hero-unit
  %h1
    \#RubyFriends?
    %p
      Isn't it great meeting new Ruby friends at conferences, Ruby brigades,
      meetups, hackathons, or wherever?
    %p
      Wouldn't it be great to share that new friendship? Now you can! Just
      snap a pic of you and your new friend(s) together, tweet it with
      hashtag #RubyFriends, and we'll include it on the site here.
    %a{href: '/', class: 'btn btn-large'} Back
