#wrapper {
  @include container;
  // @include susy-grid-background;
  // @include debug-vertical-alignment;

  @include at-breakpoint($full-break) {
    @include set-container-width;
    // @include susy-grid-background;
    // @include debug-vertical-alignment;
  }
} //#wrapper



header#page_header {
  h1 {
    @include span-columns(4);
    @include adjust-font-size-to(20px);
    @include at-breakpoint($full-break) {
      @include span-columns(10, $full-break);
      @include adjust-font-size-to(36px);
    }
  } //h1
  .feed {
    @include span-columns(2 omega);
    @include at-breakpoint($full-break) {
      @include span-columns(2 omega);
    }
    margin:10px auto;
    text-align:right;
  } //.feed
} //header#page_header


section#main {
  @include span-columns($total-columns);
  .hero-unit {
    float:left;
    width:90%;
    padding:10px 5%;
    position:relative;
    a#learn-more {
      @include margin-leader(0.5);
      @include margin-trailer(0.5);
      @extend .btn;
      @extend .btn-primary;
      margin: 0 1em 0 0;
    } //a#learn_more

    h1 {
      @include adjust-font-size-to(24px);
    } //h1

    .bird {
      float:left;
      clear: both;
      width:120px;
      height:100px;
      @include sprites-sprite(twitter_newbird_blue);
      @include margin-trailer(0.5);
      position:relative;
    } //.bird

    p {
      @include adjust-font-size-to(24px);
      margin: 1em 0;
    }

    span.shared-smiles-count {
      @extend .label;
      @extend .label-info;
      position:absolute;
      right:10px;
      bottom:10px;
    } //span.shared-smiles-count

  } //.hero-unit

  #smiles-list {
    @include no-list;
    @include span-columns($total-columns);
    li {
      @include span-columns(3);
      &.two, &.four {
        @include omega;
      } //&.two
      @include at-breakpoint($full-break) {
        @include span-columns(3,$total-columns);
        &.two {
          @include remove-omega;
        } //&.two
      }
      @include margin-trailer(1);
      background-color:$grayLighter;

      &.one, &.three {
        background-color:$grayLighter;
      } //&.two, &.four

      .text {
        margin: 1em;

        .username {
          font-size: 1.5em;
        }
      }
    } //li
  } //#smiles-list
} //section#main

hr {
  width: 100%;
  display: hidden;
}
