@mixin close-button {
  @include sprites-sprite(close);
  position: fixed;
  left: 50%; top: 3%;
  margin-left: -17px;
  cursor:pointer;
  height:35px;
  width:35px;
  background-color:transparent;
}

#overlay {
  width: 95%;
  max-height: 95%;
  display:none;
  outline:none;
  text-align: center;
  .close {
    @include close-button;
  } //.close
  img {
    @include border-radius(10px);
    max-width: 95%;
    max-height: 95%;
  } //img
} //.overlay

.click_to_ajax_overlay {
  cursor:pointer;
} //.click_to_ajax_overlay