@mixin close-button {
  @include sprites-sprite(close);
  position: fixed;
  left: 50%; top: 2%;
  margin-left: -17px;
  cursor:pointer;
  height:35px;
  width:35px;
  background-color:transparent;
}

#overlay {
  width: 40%;
  max-height: 95%;
  display:none;
  outline:none;
  text-align: center;

  .close {
    @include close-button;
  } //.close

  img {
    @include border-radius(10px);
    background: white;
    border: 20px solid white;
    padding-top: 15px;
    max-width: 95%;
    max-height: 90%;
  } //img
} //.overlay

@media screen and (max-width: $mobile-width) {
  #overlay {
    width: 98%;

    img {
      padding: 0;
      border: 0;
    } //img
  } //#overlay
} //@media

.click_to_ajax_overlay {
  cursor:pointer;
} //.click_to_ajax_overlay