//-----------------------------------------
// Variables - set before importing anything so that defaults from bootstrap
//             so that default vars from bootstrap can be overriden
//-----------------------------------------

// My vars

// override bootstrap vars


//-----------------------------------------
// Susy Grid vars (http://susy.oddbird.net/)
//-----------------------------------------
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$mobile-layout : 7;

$container-style: fluid;

//-----------------------------------------
// Imports
//-----------------------------------------
@import "bootstrap";
@import "bootstrap-responsive";
@import "susy";

@import "sprites/*.png";

@import "main";