//-----------------------------------------
// Imports
//-----------------------------------------
@import "bootstrap";
@import "bootstrap-responsive";
@import "susy";
@import "compass/typography/vertical_rhythm";

//-----------------------------------------
// Susy Grid vars (http://susy.oddbird.net/)
//-----------------------------------------
$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$full-break: 12;

// compass vars for vertical rhythm based on bootstrap default vars
$base-font-size:$baseFontSize; //14px
$base-line-height:$baseLineHeight; //20px

$mobile-width: 820px;

// mixins first (or anything used by following files, so sprites too)
@import "mixins";
@import "sprites/*.png";

@import "main";
@import "overlay";

body {
  @include establish-baseline; // establish compass vertical rhythm
} //body